
node_modules
html-report/
html-report/*
reports/
reports
./reports/
!.gitkeep
.DS_Store
node_modules/
logs
logs/
logs/*
reports
.idea/*
/.idea
.idea
idea/*
.gauge/*
.gauge/
reports/*
/logs
/node_modules
/node_modules/*
log.txt
*.png
.gauge/*
screenshots/node_modules\
reports\
screenshots\
